* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bbnopic{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ALG{
    padding-left: 50px;
   
    
}
.cervena{
    color: rgb(167, 24, 24);
    font-size: 50px;
}

.popis{
    font-size: 30px;
    padding-top: 10px;
}

.dovednosti{
    padding-top: 50px;
    padding-left: 50px;
}



@media (min-width:1000)
{
    
}