* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bbnopic{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ALG{
    padding-left: 50px;
    
   
    
}
.cervena{
    color: rgb(167, 24, 24);
    font-size: 50px;
}

.popis{
    font-size: 30px;
    padding-top: 10px;
    
}

.dovednosti{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(167, 24, 24);
   
    
}

.dovednostisekce{
    padding-top: 50px;
   justify-content: center;
    display: grid;
    font-size: 32px;
   
    
}

.sekce{
    padding: 20px;
     background-color: rgb(227, 235, 255);
     gap: 10px;
}

.cosplay{
    display: flex;
    justify-content: center;
}

.gojo{
    font-size: 32px;
}

.gojo2{
    font-size: 30px;
}





@media (min-width:1000)
{
    
}