* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bbnopic{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ALG{
    padding-left: 50px;
    text-align: center;
    
    
}
.cervena{
    color: rgb(167, 24, 24);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.popis{
    font-size: 30px;
    text-align: center;
    
    
}

.dovednosti{
    padding-top: 50px;
    font-size: 30px;
    color: rgb(167, 24, 24);
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
   
    
}

.dovednostisekce{
    font-size: 32px;
   padding: 1rem;
    
}

.sekce{
     background-color: rgb(227, 235, 255);
    text-align: center;
     margin-bottom: 1rem;
     padding: 1rem;
     
}

.sekce1{
    background-color:rgb(227, 235, 255) ;
    text-align: center;
}

.sekce2{
    background-color:rgb(227, 235, 255);
    text-align: center;
    
}

.sekce3{
    background-color:rgb(227, 235, 255);
    text-align: center;
}

.cosplay{
   padding-bottom: 10px;
}

.gojo{
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gojo2{
    font-size: 30px;
 
    padding-bottom: 30px;
}



.igyt{
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 150px;
}

.portfolio{
align-items: center;
align-content: center;
display: flex;
flex-direction: column;
    
}







@media (min-width:1000)
{

    
}